.grid {
  display: flex;
  flex-wrap:wrap;
}

.grid1 {
  width: 50%;
  height: 50vh;
  background-color: black;
  align-items:center;
  justify-content:center;
  display:flex;
}

.grid1 img {
  height: 50%;
}
.grid2 img {
  height: 50%;
  filter:invert(100%);
}
.grid3 img {
  height: 50%;
  filter:invert(100%);
}
.grid4 img {
  height: 50%;
}

.grid2 {
   width: 50%;
  height: 50vh;
  background-color: black;
  align-items:center;
  justify-content:center;
  display:flex;
}

.grid3 {
  width: 50%;
  height: 50vh;
  background-color: black;
  align-items:center;
  justify-content:center;
  display:flex;
}

.grid4 {
  width: 50%;
  height: 50vh;
  background-color: black;
  align-items:center;
  justify-content:center;
  display:flex;
}