.grid {
  display:flex;
}

.gridleft {
  width:33.333%;
  height:100vh;
  background-color:blue;
}

.gridmiddle {
    width:33.333%;
  height:100vh;
    background-color:#ff6600;
}

.gridright {
    width:33.333%;
  height:100vh;
    background-color:#3c9535;
}

.lefthemi {



}

.hemi1 {

margin-top: 25vh;
width: 50%;
  float: right;

}

.hemi2 {

margin-top: 25vh;
width: 50%;
  float: left;

}

.rotate {
  transform: rotate(90deg);
  transform-origin:top left;
  font-family:Helvetica;
  font-size:20vh;
  margin-left: 20vh;

}