.grid {
  display: flex;
  flex-wrap:wrap;
}

.gridlightblue {
  width: 50%;
  height: 50vh;
  background-color: #a5d1fa;
}

.gridgreen {
  width: 50%;
  height: 50vh;
  background-color: #316c34;
}

.gridbrown {
  width: 50%;
  height: 50vh;
  background-color: #6c4e31;
}

.gridblue {
  width: 50%;
  height: 50vh;
  background-color: #2268e8;
}