.gradient1 {
  color:#fff;
  width: 100%;
  height:100%;
  background-image: linear-gradient(to right, #3c9535, #0c2bc7);

}

.gradient2 {
  color:#fff;
  width: 100%;
  height:100%;
  background-image: linear-gradient(to bottom, #a5d1fa, #6c4e31);

}
.grids {
  display:flex;

}
.grid1 {
  width:50%;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

.grid2 {
  width:50%;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}