.earthbackground {

	background-image: url("images/earthpixel.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}
<<<<<<< HEAD
=======

>>>>>>> e29a8478a3a4a678acabb5faf0c4357cbb5df257
.grid {

  display: flex;
  flex-wrap:wrap;

}

.grid-earth {

  width: 50%;
  height: 50vh;
  display:flex;
  align-items:center;
  justify-content:center;

}

.earthcolor4 {
	background-color: #204160;
}

.earthcolor2 {
	background-color: #455241;
}

.earthcolor1 {
	background-color: #9d8d73;
}

.earthcolor3 {
<<<<<<< HEAD

	background-image: url("images/lostsignal.jpg");
	background-size: 100%;
	width: 200px;
    height:200px;
    animation-name:growUG;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
=======
  background-color: #455241;
>>>>>>> e29a8478a3a4a678acabb5faf0c4357cbb5df257
}

@keyframes growUG {
  
  0% {
    width:10vh;
    height:10vh;
  }
  
  100% {
    width:50vh;
    height:50vh;
  }
}

<<<<<<< HEAD
.earthcolor1, .earthcolor2, .earthcolor4 {
=======
.earthcolor1, .earthcolor2, .earthcolor4, .earthcolor3 {
>>>>>>> e29a8478a3a4a678acabb5faf0c4357cbb5df257
  width: 200px;
  height:200px;
  animation-name:growUG;
  animation-duration:2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes growUG {
  
  0% {
    width:10vh;
    height:10vh;
  }
  
  100% {
    width:50vh;
    height:50vh;
  }
  
  
<<<<<<< HEAD
=======

.grid-red {
  width: 50%;
  height: 50vh;
  background-color: red;
}

.grid-blue {
  width: 50%;
  height: 50vh;
  background-color: blue;
}

.grid-green {
  width: 50%;
  height: 50vh;
  background-color: lime;
}

.grid-black {
  width: 50%;
  height: 50vh;
  background-color: black;
}


>>>>>>> e29a8478a3a4a678acabb5faf0c4357cbb5df257
}