body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;

}

a {

	display: inline-block;
	padding: 1vw;
	color: white;
	text-decoration: none;
	border: 0px;
}

.nav {

	font-weight: bold;
	color: white;
	width: 55%;
	background-color: red;
	padding: 10px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	font-size: 1.7vw;
}

.nav-item:hover {

	color: #ffee00;

}

.nav-item {

	font-weight: bold;
	display: inline-block;
	padding: 5px;
	width: 13%;
}

.nav-header {

	font-weight: bold;
	display: inline-block;
	padding: 20px;
	color: #ffee00;
	width: 8vw;

}

.title {

	width: 25%;

}

.title img {

	width: 100%;

}

.essay {

	font-size: 20px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 80px;

}

.text {

	flex:0 0 66.666%;
	padding: 10px;

}

.text h1 {

	font-size: 64px;
	color: red;
	margin-bottom: 100px;

}

.text p {

	margin-bottom: 15px;
}

.figure {

	flex:0 0 33.333%;

}

.figure img {

	width: 100%;

}

.figure span {
	

}

.research {

	display: flex;
	flex-wrap: wrap;
	margin-bottom: 80px;
}

.research-item {

	flex: 0 0 12.5%;
	padding: 10px;

}

.research-item img {

	width: 100%;

}

.research-item span {

 	display: none;

}

/*interactive classes*/

.large {

	flex: 0 0 66.666%;
	transition: 2s;

}

.hide {

	display: none;
	
}

.active {

	background-color: red;

}

.card {

	display: flex;
	flex-wrap: wrap;
	margin-bottom: 80px;
}

.card-item {

	flex: 0 0 12.5%;
	padding: 10px;

}

.card-item img {

	width: 100%;
	
}