body {
	font-family: courier;
	font-size: 24px;
	background-color: #faf9e4;
}

a:hover {
	color:red;
}

a {
	color:black;
	text-decoration: none;
	


}

h1 {
	font-weight: bolder;
	font-size: 3vh
}

.back img {
	width: 7vh;
	float: right;
}
.intro {
	padding: 30px;
	padding-right: 70px;
	padding-left: 70px;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
}

.thumbnail {
	flex: 33.33%;
	padding: 10px;


}

.butt {
	border: dashed red 2px;
	border-radius: 10px;
	background-color: white;
	padding: 10px;
	text-decoration: none;
	font-family: courier;
}
.thumbnail-content1 {
	display:flex;
  	align-items:center;
  	justify-content:center;
	height: 25vw;
	background-image: url("images/img1.png");
	background-size: 100%;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	border: dashed red 3px;
	border-radius: 10px;
}


.thumbnail-content2 {
	display:flex;
  	align-items:center;
  	justify-content:center;
	height: 25vw;
	background-image: url("images/img2.png");
	background-size: 100%;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	border: dashed red 3px;
	border-radius: 10px;
}

.thumbnail-content3 {
	display:flex;
  	align-items:center;
  	justify-content:center;
	height: 25vw;
	background-image: url("images/img3.png");
	background-size: 100%;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	border: dashed red 3px;
	border-radius: 10px;
}
.thumbnail-content4 {
	display:flex;
  	align-items:center;
  	justify-content:center;
	height: 25vw;
	background-image: url("images/img4.png");
	background-size: 100%;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	border: dashed red 3px;
	border-radius: 10px;
}
.thumbnail-content5 {
	display:flex;
  	align-items:center;
  	justify-content:center;
	height: 25vw;
	background-image: url("images/img5.png");
	background-size: 100%;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	border: dashed red 3px;
	border-radius: 10px;
}
.thumbnail-content6 {
	display:flex;
  	align-items:center;
  	justify-content:center;
	height: 25vw;
	background-image: url("images/img6.png");
	background-size: 100%;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	border: dashed red 3px;
	border-radius: 10px;
}
.thumbnail-content7 {
	display:flex;
  	align-items:center;
  	justify-content:center;
	height: 25vw;
	background-size: 100%;
	background-image: url("images/img7.png");
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	border: dashed red 3px;
	border-radius: 10px;
}
.thumbnail-content8 {
	display:flex;
  	align-items:center;
  	justify-content:center;
	height: 25vw;
	background-image: url("images/img8.png");
	background-size: 100%;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	border: dashed red 3px;
	border-radius: 10px;
}
.thumbnail-content9 {
	display:flex;
  	align-items:center;
  	justify-content:center;
	height: 25vw;
	background-image: url("images/img9.png");
background-size: 100%;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	border: dashed red 3px;
	border-radius: 10px;
}
.thumbnail-content10 {
	display:flex;
  	align-items:center;
  	justify-content:center;
	height: 25vw;
	background-image: url("images/img10.png");
	background-size: 100%;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	border: dashed red 3px;
	border-radius: 10px;
}
.thumbnail-content11 {
	display:flex;
  	align-items:center;
  	justify-content:center;
	height: 25vw;
	background-image: url("images/img11.png");
	background-size: 100%;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	border: dashed red 3px;
	border-radius: 10px;
}
.thumbnail-content12 {
	display:flex;
  	align-items:center;
  	justify-content:center;
	height: 25vw;
	background-image: url("images/img12.png");
	background-size: 100%;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	border: dashed red 3px;
	border-radius: 10px;
}
.thumbnail img {
	width:100%;
}

.heading {
	padding: 30px;
	font-size: 6vw;
	font-weight: bolder;
}

.number {
	font-size: 4vw;
	padding: 5px;
	background-color: white;
}

.main {
	width:100%;
	padding: 20px;
	margin-right: 25%;
	background-color: #faf9e4;

}

.main-content {
	display: inline-flex;
	padding: 10px; 
	font-size: 2vh;
}

.idea {
	margin: 10px 0px 10px 10px;
	padding: 6vh;
	width: 50%;
	height: 50%;
	background-color: #fff;
}

.instruction {
	width: 56vw;
	margin: 10px;
	display: flex;
}

.downloady {
	margin: 10px;
	display: flex;
}

#paint {

	margin: 10px;
	display: inline-flex;


}

.thumbnail a:visited {
	color: red;
}

.thecanvas {
	margin-left: 50px;
	background-color: white;
	border-radius: 10px;
	border: dashed red 3px;
}

#buttonbox a:hover {
	color: white;
}
#buttonbox {
	align-content: center;
	display: inline-block;
	margin: 10px;
	margin-left: 50px;
	padding: 3vh;
	width: 14vw;
	background-color: red;
}

#colours {
	display: inline-flex;
	margin: 0px 0px 0px 20px;
	padding: 6vh;
	width: 53%;
	background-color: #fff;
}
.listing {
	margin-bottom: 3vw;
	font-size: 3vw;
}

.color-box {
  font-style: #faf9e4;
  margin-left: 50px;
  display: inline-block;
  width: 9vh;
  height: 9vh;
  background-color:blue;
  padding: 10px;

}

.container {
	color: #faf9e4;
    display: inline-block;
    margin: 10px;
    width: 10vh;
  	height: 10vh;
    text-align:center;
    font-size: 2vh;
}

#colourscontent {
	display: inline-block;
}

